---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$georgia: "Georgia", serif;
$helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-family: $georgia;
$header-font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
$mono-font-family: "Inconsolata", monospace;

body {
  padding: 2em 1em;

  background: #f5f5f5;
  font-family: $font-family;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 700;
  line-height: 1.25;
}

code, pre {
  font-family: $mono-font-family;
  font-weight: 400;
  background: #f1f1f1;
}

pre {
  padding: .5em;
  overflow: auto;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #555;
  &:hover {
    border: none;
  }
  &:visited {
    color: #555;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
}

.icon {
  width: 16px;
}

.container {
  margin: 0 auto 2em;
  max-width: 720px;
}

.page-header,
.page-content,
.page-footer {
  @extend .container;
}

.page-header {
  h1, nav, ul {
    display: inline-block;
  }
  h1 {
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    a {
      color: #111;
      border: none;
    }
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }
  }
}

.page-footer {
  margin-top: 4em;
  font-size: .8em;
  ul {
    list-style-type: none;
    padding: 0;
    a {
      color: #555;
      border: none;
    }
  }
}

.post-header {
  h1 a {
    color: #000;
    border: none;
  }
}

.posts {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    background: url(/icons/text-document.svg) no-repeat left 7px;
    background-size: 16px 16px;
    padding-left: 22px;
  }
}

.right { float: right; }
.left { float: left; }

