@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

@import 'normalize';
@import 'syntax';

*, :before, :after {
  box-sizing: border-box;
}

.header h1 {
  text-align: center;
}

body {
  background-color: #fff;
  font-family: "Source Sans Pro", 'Comic Sans', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5;
  -webkit-font-smoothing: antialias;
  color: #444;
}

a {
  &, &:link {
    text-decoration: none;
  }
}

$code-background: #f1f1f1;

code {
  font-size: .8em;
  background: $code-background;
  padding: 5px;
}

pre {
  overflow: auto;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;

  background: $code-background;
  code {
    background: none;
  }
}

code {
  font-family: "Menlo", "Monaco", monospace;
}

.container {
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 800px;
}

.footer {
  margin-top: 100px;
  border-top: 1px solid #ccc;
}

