<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="Full feed">
    <link rel="stylesheet" href="/assets/application.css">
  </head>
  <body>
    <div class="container">
      <div class="site">
        <div class="header">
          <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        </div>

        {{ content }}

        <div class="footer">
          <div class="contact">
            <p>
              Mikkel Malmberg<br />
              I make things<br />
              mikkel@brnbw.com
            </p>
          </div>
          <div class="contact">
            <p>
              <a href="http://github.com/mikker/">github.com/mikker</a><br />
              <a href="http://twitter.com/mikker/">twitter.com/mikker</a><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
